.header {
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 46px;
   }
   .left__content {
      display: flex;
      align-items: center;
      gap: 5px;
      a {
         font: 700 13px/13px "League Spartan";
         text-transform: uppercase;
      }
   }
   .right__content {
      display: flex;
      gap: 15px;
      .email,
      .users {
         width: 20px;
         height: 20px;
         background-color: transparent;
         background-repeat: no-repeat;
         background-position: center;
         border: none;
         padding: 0;
         cursor: pointer;
      }
      .email {
         background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_12-658813)'%3E%3Cg clip-path='url(%23clip1_3_12-632391)'%3E%3Cpath d='M8.41611 7.66666L15.0833 4.27144V2.78829C15.0833 2.61893 15.0833 2.48148 15.0833 2.48148H1.75C1.75 2.48148 1.75001 2.61893 1.75001 2.78829V4.29414L8.41611 7.66666Z' fill='%23171E29'/%3E%3Cpath d='M8.53278 8.80425C8.495 8.82326 8.45555 8.83316 8.41667 8.83316C8.37833 8.83316 8.33889 8.82326 8.30111 8.80533L1.75 5.4661V12.8519C1.75 12.8519 1.87444 12.8519 2.02778 12.8519H14.8056C14.9583 12.8519 15.0833 12.8519 15.0833 12.8519V5.44446L8.53278 8.80425Z' fill='%23171E29'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_12-658813'%3E%3Crect width='15' height='15' fill='white' transform='translate(0.75 0.5)'/%3E%3C/clipPath%3E%3CclipPath id='clip1_3_12-632391'%3E%3Crect width='13.3333' height='13.3333' fill='white' transform='translate(1.75 1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      .users {
         background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.87474 7.01782C3.64652 7.01782 1.02008 10.0195 1.02008 13.7089C1.02008 13.8694 1.13413 13.9998 1.27464 13.9998H12.4749C12.6154 13.9998 12.7294 13.8694 12.7294 13.7089C12.7294 10.0195 10.103 7.01782 6.87474 7.01782Z' fill='%23171E29'/%3E%3Cpath d='M6.87489 6.40011C8.42132 6.40011 9.67494 4.9674 9.67494 3.20006C9.67494 1.43271 8.42132 0 6.87489 0C5.32847 0 4.07484 1.43271 4.07484 3.20006C4.07484 4.9674 5.32847 6.40011 6.87489 6.40011Z' fill='%23171E29'/%3E%3C/svg%3E%0A");
      }
   }
}
