.popup {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 20;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   width: 100vw;
   height: 100vh;
   background-color: rgba(41, 40, 40, 0.6);
   opacity: 0;
   visibility: hidden;
   transition: 0.3s all;
   -webkit-transition: 0.3s all;
   -moz-transition: 0.3s all;
   -ms-transition: 0.3s all;
   -o-transition: 0.3s all;
   backdrop-filter: blur(8px);
   &.active {
      opacity: 1;
      visibility: visible;
   }

   .users__popup {
      position: relative;
      max-width: 207px;
      width: 100%;
      background-color: white;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .user__item {
         font-family: "League Spartan", sans-serif;
         font-size: 13px;
         line-height: 13px;
         font-weight: 700;
         text-transform: uppercase;
         display: flex;
         align-items: center;
         gap: 13px;
      }
      .close {
         position: absolute;
         top: 5px;
         right: 5px;
         width: 23px;
         height: 23px;
         margin-left: auto;
         background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.31229 4.01006L0 1.69776L1.69776 0L4.01006 2.31229L6.22525 0.0970967L7.92302 1.79486L5.70782 4.01006L7.9229 6.22514L6.22514 7.9229L4.01006 5.70782L1.69788 8.02L0.000116683 6.32224L2.31229 4.01006Z' fill='%2389919A'/%3E%3C/svg%3E%0A");
         background-repeat: no-repeat;
         background-position: center;
      }
   }
}
